.div-hide {
  transform: scaleY(0);
  transition: transform 400ms ease 0ms, height 400ms ease 0ms;
  height: 0px;
}

.div-show {
  transform: scaleY(1);
  transition: transform 400ms ease 0ms, height 400ms ease 0ms;
  height: 100%;
}
.unchecked-button{
  margin-top: 5px;
  width: 80px;
  height: 30px;
  background-color: #047ccc;
  color: white;
  border: none;
  margin-right: 5px;
}

.checked-button{
  margin-top: 5px;
  width: 80px;
  height: 30px;
  background-color: white;
  color: #047ccc;
  border: none;
  margin-right: 5px;
}